@model IEnumerable<IGrouping<DateTime, TonusClub.ServiceModel.TreatmentEvent>>

@{
    ViewBag.Title = "Запись на услуги";
    ViewBag.BackActionUrl = Url.Action("Index", "Home");
}

@foreach (var day in Model)
{
    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">@day.Key.ToString("d MMMM yyyy") <span class="ui-li-count">@day.Sum(i=>i.TreatmentConfig.Price).ToString("N0") ед.</span></li>
        @foreach (var te in day)
        {
            <li data-inset="true"><p style="font-size:1.1em;white-space:normal;"><span>@te.VisitDate.ToString("H:mm")</span> <span style="color:#eee">@te.TreatmentConfig.Name,</span> <span>@te.TreatmentConfig.Price.ToString("N0") ед.</span></p></li>
        }
    </ul>
}