@using TonusClub.CustomerPortal.Business
@{
    ViewBag.Title = "Главная";
}

<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Я хожу в клуб @AccountBL.GetCurrentDivisionName()</li>
    <li><a href="@Url.Action("Details","Account")">Мои личные данные</a></li>
    <li><a href="@Url.Action("Tickets", "Home")">Мои абонементы</a><span class="ui-li-count">@ViewBag.Tickets</span></li>
</ul>


<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Мои посещения</li>
    <li><a href="@Url.Action("Upcoming","TreatmentEvents")">Запланированные</a></li>
    <li><a href="#">За последнюю неделю</a></li>
    <li><a href="#">За последний месяц</a></li>
    <li><a href="#">С самого начала</a></li>
</ul>

<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Хочу быть красивой!</li>
    <li><a href="#">Запись на услуги</a></li>
    <li><a href="#">Моя персональная программа</a></li>
</ul>