@model IGrouping<string, TonusClub.ServiceModel.Ticket>[]
@{
    ViewBag.Title = "Абонементы";
    ViewBag.BackActionUrl = Url.Action("Index", "Home");
}

<ul data-role="listview" data-inset="true">
    <li>
        <a href="@Url.Action("Index", "Shop")">Купить абонемент</a>
    </li>
</ul>

<ul data-role="listview" data-inset="true">
    @foreach (var group in Model)
    {
        <li data-role="list-divider">@group.Key</li>
        foreach (var ticket in group)
        {
        <li>
            <a href="@Url.Action("Details", "Ticket", new { id = @ticket.Id })">
                <h1 style="white-space:normal;">@ticket.TicketType.Name</h1>
                <p><strong>@ticket.Number</strong></p>
                @if (ticket.StartDate.HasValue)
                {
                    <p>Активирован: <strong>@ticket.StartDate.Value.ToString("d MMMM yyyy")</strong></p>
                    if (ticket.FinishDate.HasValue)
                    {
                    <p>@(ticket.FinishDate > DateTime.Now?"Истекает: ":"Истек: ")<strong>@ticket.FinishDate.Value.ToString("d MMMM yyyy")</strong></p>
                    }
                }
                else
                {
                    <p>Оформлен: <strong>@ticket.CreatedOn.ToString("d MMMM yyyy")</strong></p>
                }
                @if (@ticket.UnitsAmount > 0)
                {
                    <p>Остаток единиц: @ticket.UnitsLeft.ToString("n0")/@ticket.UnitsAmount.ToString("n0")</p>
                }
                @if (@ticket.GuestUnitsAmount > 0)
                {
                    <p>Остаток гостевых единиц: @ticket.GuestUnitsLeft.ToString("n0")/@ticket.GuestUnitsAmount.ToString("n0")</p>
                }
                @if (@ticket.SolariumMinutes > 0)
                {
                    <p>Остаток минут солярия: @ticket.SolariumMinutesLeft.ToString("n0")/@ticket.SolariumMinutes.ToString("n0")</p>
                }
            </a>
        </li>
        }
    }
</ul>
