@model Sync.Models.RegionalServerView
@{
    ViewBag.Title = "Региональный сервер";
}

@Html.ValidationSummary(false)

<table>
<tr>
<th>Компания</th>
<td>@Model.CompanyName</td>
</tr>
<tr>
<th>Клуб</th>
<td>@Model.DivisionName</td>
</tr>
<tr>
<th>Ответственное лицо</th>
<td>@Html.Raw((Model.ContactPerson??"").Replace("\n", "<br />"))</td>
</tr>
@if(!Model.IsLicenseAvailable) {
<text>
<tr>
<td colspan=2 style="text-align:center; background-color:#FF2200; color:white;">
Лицензия заблокирована!
</td>
</tr>
<tr>
</text>
}
<th>Лицензия действительна до</th>
<td>
@if(Model.LicenseTill.HasValue) {
@Model.LicenseTill.Value.ToString("dd MMMM yyyy")
    }</td>
</tr>


<tr>
<th>Аппаратный ключ</th>
<td>@Model.HWKey</td>
</tr>
<tr>
<th>Дата первой синхронизации</th>
<td>@Model.FirstSync</td>
</tr>
<tr>
<th>Дата последней синхронизации</th>
<td>@Model.LastSync</td>
</tr>
<tr>
<th>Дата последнего получения ключа валидности</th>
<td>@Model.LastKeyReceived</td>
</tr>
<tr>
<th>Максимальный период синхронизации</th>
<td>@Model.MaxSyncPeriod</td>
</tr>
<tr>
<th>Получатели отчета об удачной синхронизации</th>
<td>@Model.EmailSuccess</td>
</tr>
<tr>
<th>Получатели отчета об ошибке синхронизации</th>
<td>@Model.EmailFailure</td>
</tr>
    <tr>
        <th>Отправка Смс</th>
        <td>@(Model.SendSms ? "Да" : "Нет")</td>
    </tr>
    <tr>
        <th>Смс-маркетинг</th>
        <td>@(Model.SmsMarketing ? "Да" : "Нет")</td>
    </tr>
    <tr>
        <th>Смс дни рождения</th>
        <td>@(Model.SmsBirthday ? "Да" : "Нет")</td>
    </tr>
    <tr>
        <th>Смс устлуги</th>
        <td>@(Model.SmsTreatments ? "Да" : "Нет")</td>
    </tr>
</table>
<br />
@Html.ActionLink("Загрузить лицензионный ключ", "Download", new { id = Model.HWKey })
|
@Html.ActionLink("Редактировать", "Edit", new { id = Model.Id })
|
@Html.ActionLink("К списку серверов", "Index")