@model IEnumerable<Sync.Models.RegionalServerView>
    @{
        ViewBag.Title = "Список региональных серверов";
    }

    @if(ViewBag.ShowAll)
    {<text>
        Все | @Html.ActionLink("Требующие внимания", "Index", new { showAll = false, isArchive = ViewBag.isArchive, sort = ViewBag.Sort })
    </text>
    }
    else
    {
        <text>
            @Html.ActionLink("Все", "Index", new { showAll = true, isArchive = ViewBag.isArchive, sort = ViewBag.Sort }) | Требующие внимания
        </text>
    }
    <br />

    @if(ViewBag.isArchive)
    {<text>
        Все | @Html.ActionLink("Без архива", "Index", new { showAll = ViewBag.ShowAll, isArchive = false, sort = ViewBag.Sort })
    </text>
    }
    else
    {
        <text>
            @Html.ActionLink("Все", "Index", new { showAll = ViewBag.ShowAll, isArchive = true, sort = ViewBag.Sort }) | Без архива
        </text>
    }

    <br />

    Сортировка:
    @if(ViewBag.Sort == 0)
    {
        <label>По названию</label>
    }
    else
    {
        <text>@Html.ActionLink("По названию", "Index", new { showAll = ViewBag.ShowAll, isArchive = ViewBag.isArchive, sort = 0 })</text>
    } |
    @if(ViewBag.Sort == 1)
    {
        <label>По сроку лицензии</label>
    }
    else
    {
        <text>@Html.ActionLink("По сроку лицензии", "Index", new { showAll = ViewBag.ShowAll, isArchive = ViewBag.isArchive, sort = 1 })</text>
    } |
    @if(ViewBag.Sort == 2)
    {
        <label>По последней дате синхронизации</label>
    }
    else
    {
        <text>@Html.ActionLink("По последней дате синхронизации", "Index", new { showAll = ViewBag.ShowAll, isArchive = ViewBag.isArchive, sort = 2 })</text>
    }

    <br />
    <br />

    <div align="right">
        <a href="@Url.Action("GetExcel", "RegionalServers")">Загрузить в формате xls</a>
    </div>
    <table style="font-size: 0.9em" class="resTable">
        <thead>
            <tr>
                <th>Франчайзи</th>
                <th>Клуб</th>
                <th>Срок лицензии</th>
                <th>Последняя синхронизация</th>
                <th>Комментарий</th>
                <th>СМС</th>
                <th>СМС ДО</th>
                <th>СМС марк</th>
                <th>СМС ДР</th>
                <th>СМС Усл</th>
                <th>Версия Ws/Wf/Db/Upd</th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                var lic = ((item.LicenseTill ?? DateTime.MaxValue) - DateTime.Now).TotalDays;
                <tr @if(lic < 1 || !item.IsLicenseAvailable) { <text>
                    style="background-color:#000;color:White;"
                    </text>  }
                    @if(lic >= 1 && lic < 7) { <text>
                    style="background-color:#C30;color:White;"
                    </text>  }
                    @if(lic >= 7 && lic < 15) { <text>
                    style="background-color:#DD0;"
                    </text>  }
                    @if(lic >= 15 && lic < 30) { <text>
                    style="background-color:#9F9;"
                    </text>  }>
                    <td>@item.CompanyName</td>
                    <td>@item.DivisionName</td>
                    <td>
                        @(item.LicenseTill.HasValue ? item.LicenseTill.Value.ToString("dd.MM.yyyy") : "Бессрочно")
                        @if(item.LicenseTillUncommited.HasValue)
                        {
                            <text>
                                <br />
                                <span style="font-size: 0.8em;">
                                    Новое значение: @item.LicenseTillUncommited.Value.ToString("dd.MM.yyyy")
                                    @if(ViewBag.CanCommit)
                                    {
                                        <text>
                                            <br />@Html.ActionLink("Утвердить", "CommitLicense", new { id = item.Id }) |
                                            @Html.ActionLink("Отклонить", "RejectLicense", new { id = item.Id })
                                        </text>
                                    }
                                </span>
                            </text>
                        }
                        @if(!item.IsLicenseAvailable)
                        {
                            <text>
                                <span style="font-size: 0.8em;">
                                    <br />
                                    Заблокирована
                                </span>
                            </text>
                        }
                    </td>
                    <td @(((DateTime.Today - (item.LastSync ?? DateTime.MinValue)).TotalDays > item.MaxSyncPeriod - 5) ? "style=color:red" : "")>

                        @item.LastSync
                    </td>
                    <td>@item.ContactPerson</td>
                    <td>@(item.SendSms ? "Да" : "Нет")</td>
                    <td>@(item.SendSms && item.SmsUntil.HasValue ? item.SmsUntil.Value.ToString("dd.MM.yyyy") : "")</td>
                    <td>@(item.SmsMarketing ? "Да" : "Нет")</td>
                    <td>@(item.SmsBirthday ? "Да" : "Нет")</td>
                    <td>@(item.SmsTreatments ? "Да" : "Нет")</td>
                    <td>@item.Versions</td>
                    <td style="background: white">
                        @Html.ActionLink("Параметры сервера", "Details", new { id = item.Id })
                    @Html.ActionLink("Отчеты", "Index", "Log", new { id = item.Id }, null)
                </td>
            </tr>
            }
        </tbody>
    </table>
    <br />
    @Html.ActionLink("Регистрация нового промежуточного сервера", "Create")
