@{
    ViewBag.Title = "Вход в систему";
}

@section Header {
    @Html.ActionLink("Отмена", "Index", "Home", null, new { data_icon = "arrow-l", data_rel = "back" })
    <h1>@ViewBag.Title</h1>
}

<p>
    Укажите свой номер телефона и пароль (если есть)
</p>

<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Учетные данные</li>
    <li data-role="fieldcontain" id="errorDiv" data-theme="c" style="display: none"></li>
    <li data-role="fieldcontain" id="infoDiv" data-theme="d" @(String.IsNullOrEmpty(ViewBag.Phone) ? Html.Raw("style=\"display:none\"") : Html.Raw(""))>На Ваш номер телефона был выслан пароль для входа в систему
    </li>
    <li data-role="fieldcontain">
        <label for="UserName" class="ui-input-text">Номер телефона</label>
        <input data-val="true" data-val-required="Необходимо указано номер телефона!"
            id="UserName" type="text" value="@ViewBag.Phone">
    </li>

    <li data-role="fieldcontain">
        <label for="Password" class="ui-input-text">Пароль</label>
        <input data-val="true" id="Password" type="password">
    </li>

    <li data-role="fieldcontain">
        <label for="RememberMe" class="ui-input-text" style="width: 100%">Запомнить меня</label>
        <input id="RememberMe" type="checkbox">
    </li>

    <li data-role="fieldcontain">
        <input type="button" value="Войти" id="LoginBtn" />
    </li>
</ul>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    $(function () {
        $("#LoginBtn").click(function () {
            $("#errorDiv").hide("fade");
            $("#infoDiv").hide("fade");
            $("#LoginBtn").attr("disabled", "disabled");
            $("#LoginBtn").changeButtonText("Пожалуйста, подождите...");
            $.ajax({
                url: '@Url.Action("Login")',
                type: "POST",
                data: { phoneNumber: $("#UserName").val(), password: $("#Password").val(), rememberMe: $("#RememberMe").is(":checked") },
                success: function (data) {
                    $("#LoginBtn").removeAttr("disabled");
                    $("#LoginBtn").changeButtonText("Войти");

                    if (data.success) {
                        document.location = '@Url.Action("Index", "Home")';
                        return;
                    }
                    if (data.result == 'contactSupport') {
                        $("#errorDiv").html("Ошибка при входе в систему. Для получения помощи обратитесь в службу технической поддержки по телефону +7 (812) 123-45-67");
                        $("#errorDiv").show("fade");
                        return;
                    }
                    if (data.result == 'notExist') {
                        document.location = '@Url.Action("Register", "Account")?phone=' + $("#UserName").val();
                        return;
                    }
                    if (data.result == 'invalidPassword') {
                        $("#errorDiv").html("Ошибка при входе в систему. Указан невеверный пароль.");
                        $("#errorDiv").show("fade");
                        return;
                    }
                    if (data.result == 'canSend') {
                        $("#infoDiv").html("На Ваш номер телефона был выслан пароль для входа в систему.");
                        $("#infoDiv").show("fade");
                        return;
                    }
                }
            });
        });
    });
</script>
