@model IEnumerable<Sync.Models.LogItem>

@{
    ViewBag.Title = "Отчеты синхронизации регионального сервера";
}


<table>
<tr>
<th>Компания</th>
<td>@ViewBag.CompanyName</td>
</tr>
<tr>
<th>Клуб</th>
<td>@ViewBag.DivisionName</td>
</tr>
</table>
<br />

<table>
    <tr>
        <th>
            Дата
        </th>
        <th>
            Метод
        </th>
        <th>
            Сообщение
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MethodName)
        </td>
        <td>
            @item.Message.Substring(0, Math.Min(50, item.Message.Length))
        </td>
        <td>
            @Html.ActionLink("Детали", "Details", new { id=item.Id })
        </td>
    </tr>
}

</table>
