@model Sync.Models.Bug
@{
    ViewBag.Title = "Добавление новой баги";
}
<h2>
    Создание баги</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <table>
        <tr>
            <th>
                Тема
            </th>
            <td>
                <input type="text" name="Subject" style="width: 400px" />
                @Html.ValidationMessageFor(model => model.Subject)
            </td>
        </tr>
        <tr>
            <th>
                Текст
            </th>
            <td>
                <textarea type="text" name="Message" style="width: 400px; height: 100px"></textarea>
                @Html.ValidationMessageFor(model => model.Message)
            </td>
        </tr>
        <tr>
            <th>
                Категория
            </th>
            <td>
                @Html.DropDownList("CategoryId", ((IEnumerable<SelectListItem>)ViewBag.Categories), new { Style = "width: 406px" })
                @Html.ValidationMessageFor(model => model.CategoryId)
            </td>
        </tr>
        <tr>
            <th>
                Приоритет
            </th>
            <td>
                @Html.DropDownList("PriorityId", ((IEnumerable<SelectListItem>)ViewBag.Priorities), new { Style = "width: 406px" })
                @Html.ValidationMessageFor(model => model.PriorityId)
            </td>
        </tr>
    </table>
    <p>
        <input type="submit" value="Добавить" />|
        @Html.ActionLink("Назад", "Index")
    </p>
}
